.idea/
*.iml

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
build/
cmake-build-*/

cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
cmake-build-minsizerel/
cmake-build-test/
cmake-build-custom/
cmake-build-*

*.d
*.dep

*.a
*.so
*.so.*
*.dylib
*.dll
*.lib
*.pdb
*.ilk

*.o
*.obj
*.lo
*.la
*.al
*.libs

*.exe
*.out
*.app

*.log
*.swp
*.swo
*.bak
*.tmp
*.cache
*.gch

.cproject
.project
.settings/

*.tar
*.gz
*.zip
*.rar
*.7z
